.ml-2{
    margin-left: 20px;
}
.space-between{
    justify-content: space-between;
}
.mb-2{
    margin-bottom: 20px !important;
}

.mt-2{
    margin-top: 20px !important;
}
.list-style-none{
    list-style: none;
 }
 .display-center{
    display: flex;
    justify-content: center;
 }
 .display-space-between{
    display: flex;
    justify-content: space-between;
 }
 .display-flex{
    display: flex;
  }
.display-none{
    display: none;
}

.overflow-x{
    overflow-x:auto;
    width: 100%;

}

.overflow-x::-webkit-scrollbar {
    display: none;
  }

  .vh-100{
    height:100vh;
  }

  .sidebar-item{
    color:black;
    font-weight: bold;
    padding: 20px 10px;
    list-style-type: none;
    
  
    
  }
  .sidebar-item:hover{
    color:white;
    background-color: black;
    font-weight: bold;
  }
  .sidebar-area{
    padding-left: 0;
  }
  .sidebar{
    max-width: 300px;
    padding:20px;
    background-color: rgb(248,249,250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 40px;
  }
  .mobile-sidebar-toggle{
    display:none;
  }
  
  
  @media screen and (max-width: 63rem) {
    .hide {
      visibility:visible;
    }
    .menu {
      display: none;
    }
   
    .nav-icon:last-child{
      margin-right: 0px;
    }
    .nav-header{
      margin-top: 20px;
      margin-bottom:30px
    }
  
    .sidebar-toggle{
      display: none;
    }
    .mobile-sidebar-toggle{
      display:block;
    }
    .sidebar{
      max-width: 100%;
      padding:0px;
      /* margin-bottom: 0; */
    }
    .mobile-sidebar{
      max-height: 104px;
    }
  }
  .display-flex{
    display:flex;
    align-items: center;
  
  }
  
  .admin-layout{
    display: flex;
  }
  
  .landing-search-box input{
    background-color: #FAF9F8;
  }
  
  .link-area{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }