.product-card {
  width: 100%;
  border: 1px solid #eaeaec;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}

.product-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 5px;
}

.product-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-price {
  font-size: 1em;
  color: #000;
  font-weight: bold;
}
